<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
.oddStyle {background-color: lightgreen;}
.evenStyle {background-color: lightgray;}
.firstStyle {color : red;}
.lastStyle {color : blue;}
</style>
</head>
<body>
<!-- 
<h1>freeboard lsit</h1>
<table th:with="target1='user4', target2='user9'">
<tr>
<td>count, index</td>
<td>first, last</td>
<td>even, odd</td>
<td>size</td>
<td>No</td>
<td>상세보기</td>
<td>제목</td>
<td>작성자</td>
<td>target</td>
<td>삭제button</td>
<td>내용</td>
<td>작성일</td>
<td>수정일</td>
</tr>
<tr th:each="board,rowstatus : ${boardList}"
	th:class="${rowstatus.even}?'evenStyle':'oddStyle'"
	th:classappend="${rowstatus.first or rowstatus.last}?'firstStyle':''">
	
<td th:text="${rowstatus.index+ '---'+ rowstatus.count}">No</td>
<td th:text="|${rowstatus.first} --- ${rowstatus.last}|">No</td>
<td th:text="|${rowstatus.even} --- ${rowstatus.odd}|">No</td>
<td th:text="${rowstatus.size}">No</td>
<td th:text="${board.bno}">No</td>
<td><a th:href="@{detail(bno=${board.bno})}">상세보기</a> </td>
<td th:text="${board.title}">제목</td>
<td th:text="${board.writer}">작성자</td>
<td th:text="${board.writer==target1?'찾음(user4)':'손님'}">작성자</td>
<td>
	<a th:if="${board.writer==target1}" href="#">삭제</a>
	<p th:unless="${board.writer==target1}">view</p>
</td>
<td th:text="${board.content}">내용</td>
<td >[[${board.regdate}]]</td>  인라인으로 thymeleaf
<td >[[${board.updateDate}]]</td>
<td th:text="${board.replies}">댓글</td>
</tr>

</table> -->

<script th:inline="javascript">
	var boardList = [[${boardList}]];
	console.log(boardList[0]);
	$.each(boardList, function(index, item){
		console.log(item)
	})
</script>

</body>
</html>