<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Expression Basic Object</h1>
<p th:text="${boardList[0].title}"></p>
<p >인라인 방식표현 : [[${boardList[0].title}]]</p>
<p >인라인 방식표현 : [[${#vars.boardList[0].title}]]</p>
<p>[[${#response.characterEncoding}]]</p>
<p>[[${@environment.getProperty('app.title')}]]</p>
<p>[[${session.username}]]</p>
<p>param : [[${param.bno}]]</p>
<p>param : [[${#request.getParameter("bno")}]]</p>
<p>list 객체의 size : [[${boardList.size}]]</p>
<p>타임리프가 제공하는 객체사용한 size : [[${#lists.size(boardList)}]]</p>
<hr>
<p th:text="${now}"></p>
<!-- <p th:text="${#dates.format(now, 'yyyy-MM-dd hh:mm:ss)}"></p>
<p th:with="today = ${#dates.format(now, 'yyyy-MM-dd hh:mm:ss)}"></p> -->
<p>[[${today}]]</p>
<hr>
<p th:text="${price}"></p>
<p th:text="${#numbers.formatInteger(price,3,'COMMA')}"></p>
<p th:text="${#numbers.formatDecimal(price,5,10,'POINT')}"></p>

<p th:text="${#strings.replace(title,'s','<b><sb>')}"></p>
<p th:text="${#strings.replace(title,'s','<b><sb>')}"></p>
<p th:text="${#strings.toUpperCase(title)}"></p>
<p th:text="${#strings.toUpperCase(title)}"></p>

<ul>
	<li th:each="myword:${#strings.listSplit(title,' ')}">
		[[${myword}]]
	</li>
</ul>

<h2 th:text="${options}"> </h2>
<ul>
<li th:each="aa:${options}" th:text="${aa}"></li>
</ul>
<hr>
<h1>링크를 사용해보자</h1>
<a th:href="@{http://localhost:8888/app/freeboard/list}">list</a>
<a th:href="@{/freeboard/list}">list</a>
<!-- 다른 컨텓스트 -->
<a th:href="@{~app/freeboard/list}">list</a>
<a th:href="@{list}">list</a>
<a th:href="@{detail(bno=50)}">파라미터가 있는 경로</a>
</body>
</html>