<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content1">
		<div class="panel-heading">Modify Page</div>
		<div class="panel-body">
			<form id="f1">
				<div class="form-group">
					<label>BNO</label><input class="form-control" name="bno"
						th:value="${vo.bno}" readonly="readonly" />
				</div>
				<div class="form-group">
					<label>Title</label><input class="form-control" name="title"
						th:value="${vo.title}" />
				</div>
				<div class="form-group">
					<label>Content</label>
					<textarea class="form-control" rows="3" name="content"
						th:text="${vo.content}"></textarea>
				</div>
				<div class="form-group">
					<label>Writer</label> 
					<input class="form-control" name="writer"
						th:value="${vo.writer}"  />
<!-- 					<input class="form-control" name="writer"
						th:value="${vo.writer}" readonly="readonly" /> -->
				</div>
				<!-- <label>RegDate</label>  <input type="hidden" class="form-control" name="regdate"
					th:value="${vo.regdate}"
					readonly="readonly" /> -->
					
				<input th:if="${vo.regdate!=null}" class="form-control"
			   name="regdate"
    			th:value="${#dates.format(vo.regdate,'yyyy-MM-dd hh:mm:ss')}"
    			 />
			   <input th:if="${vo.regdate==null}" class="form-control"
			   name="regdate"
    			th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd hh:mm:ss')}"/>
    			
    			
				<input type="text" name="page" th:value="${pageVO.page}">
				<input type="text" name="size" th:value="${pageVO.size}">
				<input type="text" name="type" th:value="${pageVO.type}">
				<input type="text" name="keyword" th:value="${pageVO.keyword}">
			</form>
			<div class="form-group">
				<!--  -->
			</div>
			<div class="pull_right">
				<a class="btn btn-warning modbtn">Modify</a> <a
					class="btn btn-danger delbtn">Delete</a> <a
					class="btn btn-primary"
					th:href="@{list.do(page=${pageVO.page}, 
    size=${pageVO.size}, type=${pageVO.type}, 
    keyword=${pageVO.keyword},bno=${vo.bno})}">Cancel
					& Go List</a>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script1">
		<script th:inline="javascript">
			$(function() {
				var formObj = $("#f1");
				$(".delbtn").click(function() {
					formObj.attr("action", "delete.do");
					formObj.attr("method", "post");
					formObj.submit();
				});
				$(".modbtn").click(function() {
					formObj.attr("action", "modify.do");
					formObj.attr("method", "post");
					formObj.submit();
				});

			});
		</script>
	</th:block>

</body>
</html>