<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<head>
<title>Hello Spring Security</title>
<style>
table{
border: solid 1px black;
}
table{
border: solid 1px black;
}
td{
border: solid 1px black;
}
</style>
<meta charset="utf-8" />
 
</head>
<body>
 
	<div class="panel panel-default" layout:fragment="content1">
		<div class="panel-body">
			!!index page입니다.
			  <p sec:authorize="isAuthenticated()" >
			     <script>alert("인증됨");</script>
			  </p>
			  <a th:href="admin" >admin page방문?</a>
		</div>
		<h1>로그인한 사용자</h1>
		
	<table>
    <tr>
        <td>Username : </td>
        
        <td><span sec:authentication="name"></span></td>
    </tr>
    
    <tr>
    	<td>mname</td>
    	<td>[[${session.member}]]</td>
    </tr>
    
    <tr>
        <td>Authorities</td>
        <td><span sec:authentication="principal.authorities"></span>
        <span sec:authentication="principal"></span>
        </td>
    </tr>
   </table>
	</div>
</body>
</html>